<% include ../header %>

    <div class="container">

        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">TAG</th>
                    <th class="col-md-2">Produto</th>
                    <th class="col-md-2">Data de Entrada</th>
                    <th class="col-md-2">Data de Vencimento</th>
                    <th class="col-md-2">Data de Saída</th>
                    <th class="col-md-2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<produtos.length; i++) {%>
                    <tr>
                        <td>
                            <span class="table-content"><%= produtos[i].tagProduto %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= produtos[i].nomeProduto %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= produtos[i].qtdProduto %></span>
                        </td>
                        <!--<td>
                            <a href="/entrada?tagProduto=<%= produtos[i].tagProduto %>" class="btn btn-default btn-raised btn-xs">
                                <i class="material-icons">&#xE145;</i>
                            </a>
                            <a href="/saida?tagProduto=<%= produtos[i].tagProduto %>" class="btn btn-default btn-raised btn-xs">
                                <i class="material-icons">&#xE15B;</i>
                            </a>
                            <a href="/excluir?tagProduto=<%= produtos[i].tagProduto %>" class="btn btn-danger btn-raised btn-xs">
                                <i class="material-icons">&#xE92B;</i>
                            </a>
                        </td>-->
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <a href="/#">add</a>
                            <a href="/#">sub</a>
                            <a href="/#">exc</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>

<% include ../footer %>